.body {
    margin: 0;
    padding: 0;
  }
  
.page-title {
    font-family: Arial;
    font-weight: bold;
    color: rgb(41, 41, 41);
    height: 30px;
    text-decoration: none;
}

/* comment *\